@page
@model MyFruits.Areas.Identity.Pages.Account.ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1>Thank you for confirming your email.</h1>
<p>
    Your email has been confirmed. You can now <a href="~/Identity/Account/Login">log in</a>.
</p>
